/* reset css */
*{
    padding: 0;
    margin: 0;
}



html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* grid system */
.grid_5_column{
    display: grid;
    padding: 0 20px ;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-column-gap: 30px;
}

.grid_4_column{
    display: grid;
    padding: 0 20px;
    grid-template-columns: 38.5% 18% 18% 18%;
    grid-column-gap: 30px;

}

.grid_3_column{
    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-column-gap: 30px;

}


.header{
    width: 100%;
    height: var(--header-height);
    background-color: #000;
    /* position: fixed; */
    /* top: 0;
    right: 0;
    left: 0; */
    /* z-index: 1; */
    /* position: fixed; */
}


.item_header{
    display: inline-block;

}

.item_header a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 24px;  
    font-size: 16px;
    text-transform: uppercase;
    line-height: 60px;
}

.item_header a:hover{
    background-color: #ccc;
    color: #000;
}

body {
    background-color: #b6e5e2;
}

.footer{
    background-color: #000;
}

.column_link-footer{
    margin: 20px 0 ;
    font-size: 14px;
    line-height: 2;
}

.column_link-footer-text{
    color: #fff;
}

.column_link-footer li a{
    text-decoration: none;
    color: #888;
}

.column_link-footer li a:hover{
    opacity: .7;
}

